{
  "name_normalization": {
    "remove": [" " , "　"],
    "translate": [
      {
        "from": "０１２３４５６７８９",
        "to": "0123456789"
      },
      {
        "from": "ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚ",
        "to": "abcdefghijklmnopqrstuvwxyz"
      },
      {
        "from": "ＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ",
        "to": "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
      },
      {
        "from": "！＂＃＄％＆＇（）＊＋，－．／：；＜＝＞？＠［￥］＾＿｀｛｜｝～",
        "to": "!\"#$%&'()*+,-./:;<=>?@[¥]^_`{|}~"
      }
    ],
    "replace": [
      {
        "from": "Ａ",
        "to": "A"
      }
    ]
  }
}
